# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
# IDEs and editors
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and temp
*.log
*.tmp

# Python (jeśli kiedyś był Flask)
*.pyc
__pycache__/
requirements.txt
app.py

# Android build artifacts
android/app/debug
android/app/profile
android/app/release

# Symbolication and obfuscation
app.*.symbols
app.*.map.json